#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/p2sm.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors/p2sm_behaviors.dtsi>
#include <behaviors/rate_limit.dtsi>
#include <behaviors/auto_hold.dtsi>

#define LAYER_DEFAULT 0
#define LAYER_EXTRAS 1
#define LAYER_DEVICE 2
#define LAYER_SCROLL 3
#define LAYER_SNIPE 4
#define LAYER_USER 5

#define SCROLL_MULTIPLIER 1
#define SCROLL_DIVISOR 2

#define SNIPE_MULTIPLIER 1
#define SNIPE_DIVISOR 3

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Default";
			DECLARE_ENCODERS;
			bindings = <
				// buttons
				&ltm LAYER_EXTRAS MB4     &ltm LAYER_EXTRAS MB5
				&mkp RCLK                 &mkp RCLK
				&mkp MCLK                 &mkp MCLK
				&mkp LCLK                 &mkp LCLK

				// rotary encoders
				&to LAYER_SNIPE          &to LAYER_SNIPE
				&to LAYER_SCROLL         &to LAYER_SCROLL
			>;
		};

		layer2 {
			display-name = "Extras";
			DECLARE_ENCODERS;
			bindings = <
				&kp LC(W)            &kp LC(W)
				&kp LC(LS(T))        &kp LC(LS(T))
				&kp F5               &kp F5
				&studio_unlock       &soft_off

				&none                &none
				&none                &none
			>;
		};

		layer3 {
			display-name = "Device";
			DECLARE_ENCODERS;
			bindings = <
				&none                        &p2sm_accel_toggle
				&none                &none
				&none                &none
				// &none                        &p2sm_accel_adj P2SM_INC 1
				// &none                        &p2sm_accel_adj P2SM_DEC 1
				&to LAYER_DEFAULT            &to LAYER_DEFAULT

				&sens_nowrap P2SM_INC 1      &scrlsens_nowrap P2SM_INC 1
				&sens_nowrap P2SM_DEC 1      &scrlsens_nowrap P2SM_DEC 1
			>;
		};

		layer4 {
			display-name = "Scroll";
			DECLARE_ENCODERS;
			bindings = <
				&to LAYER_DEVICE     &to LAYER_USER
				&to LAYER_DEFAULT    &to LAYER_DEFAULT
				&to LAYER_DEFAULT    &to LAYER_DEFAULT
				&to LAYER_DEFAULT    &to LAYER_DEFAULT

				&to LAYER_SNIPE      &to LAYER_SNIPE
				&none                &none
			>;
		};

		layer5 {
			display-name = "Snipe";
			DECLARE_ENCODERS;
			bindings = <
				&to LAYER_DEVICE     &to LAYER_USER
				&trans               &trans
				&to LAYER_DEFAULT    &to LAYER_DEFAULT
				&trans               &trans

				&none                &none
				&to LAYER_SCROLL     &to LAYER_SCROLL
			>;
		};

		layer6 {
			display-name = "User";
			DECLARE_ENCODERS;
			bindings = <
				&rrl 1               &bt BT_CLR
				&rgb_ug RGB_EFF      &bt BT_NXT
				&rgb_tog             &bt BT_PRV
				&to LAYER_DEFAULT    &to LAYER_DEFAULT

				&none                &none
				&none                &none
		    >;
		};
	};

	trackball {
		scroll {
			layers = <LAYER_SCROLL>;
			input-processors = <&zip_xy_scaler SCROLL_MULTIPLIER SCROLL_DIVISOR>, <&zip_axis_clamper>,
							   <&zip_xy_to_scroll_mapper>, <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>;
		};

		snipe {
			layers = <LAYER_SNIPE>;
			input-processors = <&zip_xy_scaler SNIPE_MULTIPLIER SNIPE_DIVISOR>;
		};
	};

	macros {
		rgb_tog: rgb_tog {
			compatible = "zmk,behavior-macro";
			display-name = "Toggle RGB";
			#binding-cells = <0>;
			wait-ms = <20>;
			bindings
			= <&rgb_ug RGB_TOG>
			, <&ext_power EP_TOG>
			;
		};

		rgb_off: rgb_off {
			compatible = "zmk,behavior-macro";
			display-name = "RGB off";
			#binding-cells = <0>;
			wait-ms = <20>;
			bindings
			= <&ext_power EP_OFF>
			, <&rgb_ug RGB_OFF>
			;
		};
	};
};
